/* Margin do Body*/
body{
	margin:0;
}
/* Div do Topo com a Cor Rosa */
#topo{
	width: 100%;
	height: 50px;
	background: #B764DF;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.6);
	padding: 2px 2px 0px 2px;

}
/* Foto do Usuario*/
#fotoUser img{
	width: 45px;
	height: 45px;
	float: left;
	margin-left: 10px;
	border-radius: 100px;
}
/* Nome do Usuario */
#user{
	float: left;
	color: white;
	font-size: 18px;
	padding:10px 0px 0px 10px;
}
/* Links de Imagem da Parte Superior do lado direito do topo */
#bloco-menu{
	margin: 0 auto;
	width: 215px;
	}
.menu {
	float: left;
}
.menu img{
	margin: 3px 15px 0px 15px; 
	height: 40px;
	width: 40px;
}
#versao {
	float: right;
	margin-top: 12px;
	color: white;
	margin-right: 15px;
}


